# Compiled files
*.o
*.hhk
*.bin
!App_sw_3d.bin

# make PC binary
pc_out

# Python cache
/python/__pycache__/*

# Not tracked folder
not_tracked/*

# some temporary files under wsl
*~
.*~

# vscode
.vscode/*
/build/*